.conteudo {
    width: 75%;
}

.conteudo h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

table {
    width: 90%;
    margin: 0 auto;
}

th, td {
    text-align: center;
}

th {
    background-color: black;
    color: white;
    border: 1px solid rgb(175, 175, 175);
}

td {
    border: 1px solid rgb(175, 175, 175);
}